@import "@/assets/styles/breakpoints.scss";

.appHeader {
  z-index: 99;
  width: 100%;
  /* width: 100vw; */
  height: 88px;
  background-color: #eef2fc;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 132px;

  @include max-width(md) {
    padding: 0 24px;
  }
}

.headerWrapper {
  width: 100%;
  margin: 36px 132px;
  display: flex;
}

.logoContainer {
  display: flex;
  align-items: center;
  height: 100%;
  padding: 0 24px;
  width: 10rem;
}

.headerLinks {
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 1;
  gap: 32px;
}

.headerLink {
  &,
  & a {
    color: #4e618d;
    font-size: 16px;
    font-weight: 500;
    letter-spacing: 0.32px;
    text-decoration: none;
    cursor: pointer;
  }
}

.headerButtons {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin-left: 1rem;
  width: 10rem;
}
