.tabsContainer {
    --padding: 1.5rem;
    display: inline-flex;
    gap: 1.5rem;
    border-bottom: 1px solid var(--tab-border-color, #e2e8ff);
    width: calc(100% + var(--padding));
    padding-right: var(--padding);
    margin-right: -var(--padding);
    overflow-x: auto;

    .tabBtn {
        color: var(--tab-color, #374151);
        background-color: transparent;
        border: none;
        font-size: 0.875rem;
        line-height: 1.25rem;
        letter-spacing: 1%;
        padding: 12px 0px;
        cursor: pointer;
        white-space: nowrap;

        &.tabBtnSelected {
            color: var(--tab-selected-color, #085ed4);
            font-weight: 500;
            border-bottom: 1px solid var(--tab-selected-color, #085ed4);
            margin-bottom: -1px;
        }
    }
}

/* Dark mode override */
@media (prefers-color-scheme: dark) {
    .tabsContainer {
        border-bottom: 1px solid var(--tab-border-color-dark, #191d23); // example dark gray

        .tabBtn {
            color: var(--tab-color-dark, #d1d5db); // light gray text

            &.tabBtnSelected {
                color: var(--tab-selected-color-dark, #60a5fa); // blue-400
                border-bottom: 1px solid var(--tab-selected-color-dark, #60a5fa);
            }
        }
    }
}
