@import "@/assets/styles/breakpoints.scss";

.mobileOnly {
    display: none !important;
}

$display-types: (
    "block",
    "flex",
    "inline-flex",
    "inline",
    "grid",
    "inline-grid",
    "table",
    "table-row",
    "table-cell",
    "list-item",
    "run-in"
);

@each $type in $display-types {
    .visibility-#{$type} {
        @include mobile {
            display: #{$type} !important;
        }
    }
}
