.dashboardsSection {
  border-top: 1px solid #e2e8ff;
  background: #fff;
  padding: 64px 0px 120px;
}

.dashboardsSectionTitle {
  color: #374151;
  font-size: 40px;
  font-weight: 700;
  margin-top: 8px;
}

.dashboardsSectionSubtitle {
  color: #374151;
  font-size: 18px;
  line-height: 140%;
  max-width: 600px;
}

.dashboardsSectionContent {
  margin-top: 40px;
}
