.title h3 {
  font-family: "Helvetica Neue";
  font-style: normal;
  font-weight: 500 !important;
  font-size: 24px !important;
  line-height: 29px;
  letter-spacing: 0.02em;
  color: #000000;
  margin-top: 0 !important;
  margin-block-start: 0 !important;
  padding-top: 30px;
}
.dashboardList {
  padding-bottom: 70px;
}
.dashboardList_a {
  text-decoration: none;
}
.tabsDiv {
  display: flex;
  overflow-y: hidden;
  overflow-x: auto;
  white-space: nowrap;
  border-bottom: 1px solid rgba(0, 0, 0, 0.06);
  justify-content: space-between;
  align-items: center;
}
.tabs {
  display: flex;
  overflow-y: hidden;
  overflow-x: auto;
  white-space: nowrap;
}
.tabs .tab {
  padding: 10px 10px;
  cursor: pointer;
  position: relative;
  font-family: "Helvetica Neue";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  display: flex;
  align-items: center;
  letter-spacing: 0.04em;
  color: rgba(0, 0, 0, 0.54);
}
.tabs .tab.active {
  border-bottom: 2px solid #6588e1;
  font-weight: 500;
  color: rgba(0, 0, 0, 0.87);
}
.list {
  border-bottom: 1px solid rgba(0, 0, 0, 0.06);
  padding: 10px;
  margin-bottom: 10px;
}
.list:hover {
  background-color: #eef2fc;
  border-radius: 8px;
}
.flexBox {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.updated {
  display: flex;
  justify-content: end;
  gap: 5px;
  color: rgba(0, 0, 0, 0.87);
  font-weight: 300;
  font-size: 12px;
  line-height: 15px;
  letter-spacing: 0.06em;
  opacity: 0;
}
.list:hover .updated {
  opacity: 1;
}
.updated b {
  color: #6588e1;
}
.info h4 {
  margin: 0;
  font-family: "Helvetica Neue";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.02em;
  color: #1a3989;
  margin-bottom: 5px;
}
.info p {
  font-style: normal;
  font-weight: 100;
  font-size: 14px;
  line-height: 17px;
  letter-spacing: 0.06em;
  color: rgba(0, 0, 0, 0.87);
  display: block;
  text-align: left;
  margin-bottom: 5px;
}
.fav {
  position: relative;
}
.fav p {
  font-family: "Helvetica Neue";
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 17px;
  display: flex;
  text-align: left;
  color: #1a3989;
  gap: 10px;
  align-items: center;
  white-space: nowrap;
  cursor: pointer;
}
.shareIcon {
  width: 20px;
  height: 20px;
  color: rgb(0 0 0 / 54%);
}
.shareDropdown {
  position: absolute;
  right: 102px;
  padding: 14px;
  background: transparent;
  border-radius: 6px;
  z-index: 1111;
  top: -13px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.3s;
  opacity: 1;
}
.shareDropdown .icons {
  display: flex;
  gap: 20px;
  cursor: pointer;
}
.shareDropdown .icons svg {
  width: 21px;
  height: 21px;
}
.twitter {
  color: #1da1f2;
}
.whatsapp {
  color: #25d366;
}
.facebook {
  color: #4267b2;
}
.telegram {
  color: #2aabee;
}
.copyLink {
  width: 100%;
  display: flex;
  margin: 10px 0 0;
  position: relative;
}
.copyLink svg {
  position: absolute;
  width: 21px;
  height: 21px;
  left: 2px;
  top: 8px;
  color: #444;
}
.copyLink input {
  padding: 10px 0 10px 30px;
  width: 100%;
  border: 0;
  background: #edeaea;
  border-radius: 6px;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}
.copyLink button {
  border: 0;
  background: #001c65;
  color: #fff;
  border-top-right-radius: 6px;
  border-bottom-right-radius: 6px;
  padding-left: 10px;
  padding-right: 10px;
}
/* dashboard footer */

.dashboardFooter {
  background-color: #001c65;
  padding: 30px 0;
  bottom: 0;
  width: 100%;
}
.bottomFlex {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.bottomFlex .content {
  display: flex;
  align-items: center;
  gap: 10px;
}
.bottomFlex .content p {
  font-family: "Helvetica 25 UltraLight", sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 19px;
  display: block;
  letter-spacing: 0.06em;
  color: rgba(255, 255, 255, 0.64);
}

.copyText {
  white-space: nowrap;
  display: flex;
  align-items: center;
  gap: 5px;
  color: #4bb543;
}
.facebook {
  color: #4267b2;
}
.copyIconHide {
  display: none;
}
.animationDropDown {
  right: 70px;
  transition: 0.3s;
  opacity: 0;
  z-index: -1;
}
.loaderDiv {
  height: 200px;
}
.loader {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 200px;
}
@media screen and (max-width: 768px) {
  .shareDropdown {
    position: absolute;
    right: -10px;
    min-width: 9rem;
    padding: 20px;
    background: #fff;
    box-shadow: 0 6px 12px rgb(0 0 0 / 18%);
    border-radius: 6px;
    z-index: 1111;
    top: 30px;
  }
  .blackBg .shareDropdown {
    background: #262525;
  }
}
@media screen and (max-width: 576px) {
  .bottomFlex {
    flex-direction: column;
    gap: 20px;
  }
  .bottomFlex .content {
    order: 2;
  }
  .title h3 {
    font-size: 20px !important;
  }
}

/* for black theme */

.blackBg {
  background-color: #121212;
}
.blackBg .title h3 {
  color: rgba(255, 255, 255, 0.6);
}
.blackBg .tabs .tab.active {
  color: #6588e1;
}
.blackBg .tabs .tab {
  color: rgba(255, 255, 255, 0.38);
}
.blackBg .tabsDiv {
  border-bottom: 1px solid rgba(255, 255, 255, 0.06);
}
.blackBg .list {
  border-bottom: 1px solid rgba(255, 255, 255, 0.06);
}
.blackBg .list:hover {
  background: linear-gradient(
      0deg,
      rgba(255, 255, 255, 0.08),
      rgba(255, 255, 255, 0.08)
    ),
    #000000;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.14), 0px 3px 1px rgba(0, 0, 0, 0.12),
    0px 1px 5px rgba(0, 0, 0, 0.2);
  border-bottom-color: rgba(255, 255, 255, 0.06);
}
.blackBg .updated {
  color: rgba(255, 255, 255, 0.38);
}
.blackBg .info h4 {
  color: #6588e1;
}
.blackBg .info p {
  color: rgba(255, 255, 255, 0.87);
}
.blackBg .fav p {
  color: rgba(255, 255, 255, 0.6);
}
.dashboardFooter.blackBg {
  background-color: #000000 !important;
}
.blackBg .shareIcon {
  color: rgba(255, 255, 255, 0.6);
}

.blackBg .copyLink {
  color: #ccc;
}
.blackBg .copyLink svg {
  color: #ccc;
}
.blackBg .copyLink input {
  background: #333;
  color: #fff;
}
.blackBg .copyLink button {
  background: #fff;
  color: #000;
}
