@import "@/assets/styles/breakpoints.scss";

.featureList {
  position: relative;
  display: grid;
  align-items: center;
  justify-content: center;
  border: 1px solid transparent;
  border-radius: 2.5rem;
  grid-template-columns: 12fr 13fr;
  transition: border-color 0.3s ease-in-out;

  &:hover {
    border-color: #a8abd7 !important;
  }

  @include mobile {
    grid-template-columns: 1fr;
    border-radius: 1.5rem;
  }
}

.featureListMedia {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 2.5rem 0px 0px 2.5rem;
  height: 100%;

  @include mobile {
    max-width: 100%;
    border-radius: 1.5rem 1.5rem 0px 0px;

    img {
      max-width: 100%;
      padding: 2.375rem 1.5rem;
    }
  }
}

.featureListContent {
  margin: 4rem 3rem;
  flex: 1;

  @include mobile {
    margin: 2rem 1.5rem;
  }
}

.featureListTags {
  margin-bottom: 1.5rem;

  @include mobile {
    margin-bottom: 1rem;
  }
}

.featureListTitle {
  margin-bottom: 1.5rem;

  @include mobile {
    margin-bottom: 0.875rem;
  }
}

.featureListDescription {
  margin-top: 1rem;
  margin-bottom: 1.5rem;

  @include mobile {
    margin-top: 1rem;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0.04em;
  }
}

.featureListFeatures {
  margin: 0;
  margin-bottom: 1.5rem;
  list-style: none;
  padding: 0;
  display: grid;
  grid-template-columns: 1fr 1fr;

  @include mobile {
    grid-template-columns: 1fr;
    margin-bottom: 2rem;
  }
}
.featureListItem {
  margin: 8px 0;
  color: #374151;
  font-size: 1rem;
  font-weight: 600;
  line-height: 140%;
  letter-spacing: 0.32px;
  display: flex;
  align-items: center;
  // &::before {
  //   content: "";
  // }
}

.bullet {
  display: inline-block;
  width: 22px;
  height: 22px;
  margin-right: 0.75rem;

  // background-image: url(/assets/images/icons/bullet-diamond.svg);
  background-size: cover;
}

.featureListCta {
  display: flex;
}
