$input-height: 43px;

@mixin button {
  height: $input-height;

  display: inline-flex;
  padding: 0px 24px;
  justify-content: flex-end;
  align-items: center;

  border-radius: 8px;
  border: 1px solid #5b53ff;
  background-color: transparent;
  cursor: pointer;
}

@mixin button-text {
  font-size: 18px;
  font-weight: 500;
  letter-spacing: 0.72px;
  color: #5b53ff;
}

@mixin link {
  text-decoration: none;
}

.button {
  @include button;
  @include button-text;
}

.link {
  @include button;
  @include button-text;
  @include link;
  height: $input-height - 2px;
}

.primary {
  background: linear-gradient(94deg, #4383ff -15.13%, #6a5cff 107.24%);
  border: none;
  color: #fff;
}

.tertiary {
  background: transparent;
  border: none;
}

.newWindowIcon {
  margin-left: 0.5rem;
  transform: translate(0, 0.25rem);
}
