@import "@/assets/styles/breakpoints.scss";

.container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  background: linear-gradient(0deg, #d4e1fe 0%, #d4e1fe 100%),
    linear-gradient(0deg, #d4e1fe 0%, #d4e1fe 100%), #fff;
  border-radius: 24px 24px 0px 0px;
  height: 100%;

  @include max-width(xxl) {
    width: 22rem;
  }
  @include max-width(xl) {
    border-radius: 1.5rem;
    width: 100%;
  }
}

.title {
  color: #374151;
  font-size: 0.8rem;
  font-weight: 500;
  text-indent: 0.8rem;
  //padding-right: 1rem;
  //min-width: 300px;
  //padding-bottom: 1rem;
  //border-bottom: 1px solid #b9c4e0;
}

.row {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding: 1.5rem;
  border-bottom: 1px solid #b9c4e0;

  &:last-child {
    border-bottom: none;
  }

  svg:first-child {
    width: 4rem;
    height: 4rem;
    min-width: 4rem;
  }
}

.mailLink {
  color: #374151;
  font-size: 0.9rem;
  letter-spacing: 0.5px;
  font-weight: 370;
  //font-weight: 300;
  line-height: 140%;
  
  padding: 0;
}

.shareRow {
  justify-content: center;
}
