.pageTitle {
    font-size: 21px;
    line-height: 1.25;
    letter-spacing: 1%;
    color: #374151;
    padding-bottom: 0.5rem;
    font-weight: 600;
}

.dashboardLoader {
    min-height: 20rem;
}

.dashboardSection {
    padding: 1.5rem 4rem;
    min-height: 40rem;
    :global {
        .tl-dashboards.public-dashboard-page {
            background-color: transparent;

            .tl-dashboard-container {
                padding-left: 0;
                padding-right: 0;
                .dashboard-wrapper.preview-mode {
                    > .react-grid-layout {
                        margin-right: 0;
                    }
                }
            }

            #footer {
                display: none;
            }
        }
    }
}
