@import "@/assets/styles/breakpoints.scss";

.cultureSection {
  padding-top: 120px;
  padding-bottom: 188px;

  @include mobile {
    padding-top: 5rem;
    padding-bottom: calc(5rem + 68px);
  }
}

.sectionHead {
  position: relative;
  display: flex;
  flex-direction: column;
}

.sectionTitle {
  position: relative;
  color: #374151;
  font-size: 2.5rem;
  font-weight: 700;
  flex-wrap: wrap;
  span {
    position: relative;
    z-index: 1;
    margin-left: 0.5rem;
  }

  @include mobile {
    font-size: 1.5rem;
    span{
    margin-left: 0rem;
    }
  }
}

.sectionDescription {
  color: #374151;
  font-size: 1.125rem;
  font-weight: 400;
  line-height: 140%;
  letter-spacing: 0.72px;
  margin-top: 0.5rem;
  max-width: 500px;

  @include mobile {
    font-size: 1rem;
  }
}

.chartIcons {
  display: flex;
  align-items: center;
  gap: 1rem;
  margin-top: 1rem;
  position: absolute;
  right: 0;
  bottom: 0;

  @include mobile {
    position: relative;
    flex-wrap: wrap;
    margin-top: 2rem;
    justify-content: space-between;
  }
}

.chartIcon {
  width: 72px;
  height: 72px;
  border-radius: 50%;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  backdrop-filter: blur(41.150001525878906px);

  > span {
    width: 24px !important;
    height: 24px !important;
  }

  @include mobile {
    width: 56px;
    height: 56px;
  }
}

.cultureContainer {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 52px;
  margin-top: 2.5rem;

  @include mobile {
    grid-template-columns: 1fr;
    gap: 160px;
  }
}

.culture {
  position: relative;
  display: flex;
  flex-direction: column;
  padding: 2.5rem;

  @include mobile {
    padding: 2rem;
  }
}
.cultureContent {
  flex: 1;
  display: flex;
  flex-direction: column;
}
.cultureTitle {
  margin-top: 1.5rem;
  color: #374151;
  font-size: 1.5rem;
  font-weight: 700;

  @include mobile {
    font-size: 1.125rem;
  }
}
.cultureDescription {
  flex: 1;
  margin-top: 1.5rem;
  color: #374151;
  font-size: 1rem;
  line-height: 140%;
  letter-spacing: 0.64px;

  @include mobile {
    font-size: 0.875rem;
  }
}

.cultureAction {
  width: 100%;
  margin-top: 2rem;
}

.ideaSection {
  display: flex;
  align-items: center;
  gap: 1rem;

  > span:first-child {
    display: inline-block;
    min-width: 32px !important;
  }
}
.bottomIcon {
  min-width: 32px !important;
}
.bottomText {
  padding: 0;
  text-wrap: nowrap;

  @include mobile {
    text-wrap: wrap;
  }
}
