$breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px,
  xxl: 1600px,
);

@mixin min-width($size) {
  @media (min-width: map-get($breakpoints, $size)) {
    @content;
  }
}

@mixin max-width($size) {
  @media (max-width: map-get($breakpoints, $size)) {
    @content;
  }
}

@mixin between($min, $max) {
  @media (min-width: map-get($breakpoints, $min)) and (max-width: map-get($breakpoints, $max)) {
    @content;
  }
}
