@import "@/assets/styles/breakpoints.scss";
@import "@/assets/styles/mixins";

.landingHeroSection {
  @include mesh-overlay;
  padding: 0rem;
}

.heroSectionContainer {
  display: flex;
  padding: 96px 0px 112px;
  justify-content: center;
  align-items: center;

  @include mobile {
    padding: 120px 28px 143px;
    flex-direction: column;
  }
}

.detailsSection {
  display: flex;
  flex-direction: column;
  max-width: 588px;
  width: 100%;

  @include mobile {
    max-width: 100%;
    align-items: center;
    text-align: center;
  }
}
.heading {
  color: #374151;
  font-size: 3rem;
  font-weight: 700;
  margin-top: 1.5rem;

  @include mobile {
    font-size: 2rem;
    font-weight: 700;
    line-height: 39px;
  }
}

.subHeading {
  margin-top: 23px;
  color: #374151;
  font-size: 1.125rem;
  line-height: 140%;
  max-width: 80%;

  @include mobile {
    margin-top: 1rem;
    font-size: 1rem;
    line-height: 22px;
  }
}

.description {
  margin-top: 42px;
}

.image {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 478px;
  width: 549px;
  margin-left: 71px;

  @include mobile {
    display: none;
  }
}

.scrollIcon {
  position: absolute;
  left: calc(50% - 16px);
  bottom: 2.5rem;
}

.tags {
  .chip {
    font-size: 1rem;
    font-weight: 500;

    @include mobile {
      font-size: 0.875rem;
      width: 100%;
    }
  }
}
