@import "@/assets/styles/mixins";
@import "@/assets/styles/breakpoints.scss";

.landingHeroSection {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;

  @include mesh-overlay;
}

.heading {
  margin-top: 1rem;
  color: #293c6d;
  font-size: 5rem;
  font-weight: 700;
  line-height: 120%;

  @include mobile {
    font-size: 3.5rem;
  }
}

.subHeading {
  margin-top: 8rem;
  color: #42537d;
  font-size: 2rem;
  font-style: normal;
  font-weight: 600;
  line-height: 120%;
  letter-spacing: 0.64px;

  @include mobile {
    margin-top: 4rem;
    font-size: 1.5rem;
  }
}

.description {
  margin-top: 128px;
  font-weight: 400;
  gap: 0.25rem;
  padding: 1rem;
  line-height: 2rem;
  color: #374151;
}

.hiddenMobile {
  @include mobile {
    display: none;
  }
}

.companyLogos {
  margin-top: 12px;
  margin-bottom: 178px;
  height: 2.8rem;

  background-image: url(/assets/images/landing/company-logos.svg);
  background-size: cover;
  background-position: calc(100%) center;
  background-repeat: repeat;
  animation: slide 40s linear infinite;

  @keyframes slide {
    0% {
      background-position: 0% center;
    }

    100% {
      background-position: -854px center;
    }
  }

  @include mobile {
    margin-top: 0.5rem;
    background-repeat: repeat;
    background-size: auto 100%;
    background-position: 0% center;
    animation: slide 20s linear infinite;
  }
}