@import "@/assets/styles/breakpoints.scss";

.privateCloudSection {
  margin: 7.5rem 0rem;

  @include mobile {
    margin: 5rem 1rem;
    padding: 0;
  }
}

.sectionHead {
  position: relative;
  display: flex;
  flex-direction: column;
}

.sectionTitle {
  position: relative;
  color: #374151;
  font-size: 2.5rem;
  font-weight: 600;
  max-width: 700px;

  span {
    position: relative;
    z-index: 1;
  }

  @include mobile {
    font-size: 1.5rem;
    font-weight: 700;
    line-height: 29px;
  }
}

.sectionDescription {
  color: #374151;
  font-size: 1.125rem;
  font-weight: 400;
  line-height: 140%;
  letter-spacing: 0.72px;
  margin-top: 0.5rem;
  max-width: 500px;

  @include mobile {
    font-size: 1rem;
    line-height: 22px;
    letter-spacing: 0.04em;
    margin-top: 1rem;
  }
}

.chartIcons {
  display: flex;
  align-items: center;
  gap: 1rem;
  margin-top: 1rem;
  position: absolute;
  right: 0;
  bottom: 0;

  @include mobile {
    position: relative;
    margin-top: 2rem;
    flex-wrap: wrap;
    justify-content: space-between;
  }
}

.chartIcon {
  width: 72px;
  height: 72px;
  border-radius: 50%;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  backdrop-filter: blur(41.150001525878906px);

  > span {
    width: 24px !important;
    height: 24px !important;
  }

  @include mobile {
    width: 3rem;
    height: 3rem;
  }
}

.cultureContainer {
  margin-top: 3.5rem;
  @include mobile {
    margin-top: 0rem;
  }
}

.culture {
  position: relative;
  display: flex;
  flex-direction: column;
  padding: 2.5rem;
}
.cultureContent {
  flex: 1;
  display: flex;
  flex-direction: column;
}
.cultureTitle {
  margin-top: 1.5rem;
  color: #374151;
  font-size: 1.5rem;
  font-weight: 700;
}
.cultureDescription {
  flex: 1;
  margin-top: 1.5rem;
  color: #374151;
  font-size: 1rem;
  line-height: 140%;
  letter-spacing: 0.64px;
}

.cultureAction {
  width: 100%;
  margin-top: 2rem;
}

.ideaSection {
  display: flex;
  align-items: center;
  gap: 1rem;
}
.sectionBody {
  margin-top: 3.5rem;
}
.cloudSectionContainer {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.cloudSection {
  position: relative;
  display: flex;
  flex-direction: column;
  margin-top: 2.5rem;
  border-radius: 2.5rem;
  border: 1px solid #e8e9fa;
  background: #fdfdff;
  padding: 56px 40px;

  @include mobile {
    margin-top: 0rem;
    padding: 1.5rem 1rem;
    border-radius: 1.5rem;
  }
}

.cloudSectionTitle {
  color: #374151;
  font-size: 1.125rem;
  font-weight: 700;
  line-height: 140%;

  font-size: 0.75rem;
  font-weight: 500;
  line-height: 17px;
  color: #59b077;
  border-radius: 4px;
  padding: 0.5rem;
  border: 1px solid #d4f3e0;
  background-image: linear-gradient(0deg, #d4f3e0, #d4f3e0),
    linear-gradient(0deg, #edfaf2, #edfaf2);

  position: absolute;
  top: 0px;
  white-space: nowrap;
  margin-top: -1rem;
  @include mobile {
    width: 82%;
    left: 9%;
  }
  &:global(.part-2) {
    background: linear-gradient(0deg, #fceadf, #fceadf),
      linear-gradient(0deg, #fcf4ef, #fcf4ef);
    color: #cb8a5a;
    border-color: #f5e4d7;
  }
  @include mobile {
    display: none;
  }
}

.cloudSectionTitleMobile {
  display: none;
  text-align: center;

  @include mobile {
    display: block;
  }
}

.cloudSectionFeatures {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  margin-top: 0rem;
  gap: 1.5rem;

  @include mobile {
    grid-template-columns: 1fr !important;
    margin-top: 1.5rem;
  }
}

.cloudSectionFeature {
  display: flex;
  padding: 32px 24px 32px 40px;
  flex-direction: column;
  align-items: flex-start;
  gap: 0.5rem;
  border-radius: 1rem;
  border: 1px solid #e8e9fa;
  background: #edf2ff;

  @include mobile {
    padding: 1rem;
  }
}

.cloudSectionFeatureTitle {
  color: #374151;
  font-size: 1.25rem;
  font-weight: 700;

  @include mobile {
    font-size: 1rem;
    font-weight: 700;
  }
}

.cloudSectionFeatureDescription {
  color: #374151;
  font-size: 1rem;
  line-height: 140%;

  @include mobile {
    font-size: 0.875rem;
    line-height: 19.6px;
  }
}

.cloudSectionDivider {
  display: flex;
  justify-content: center;
  margin-top: 2.5rem;

  @include mobile {
    margin-top: 1.5rem;
    margin-bottom: 2.4rem;
  }
}

.sectionAction {
  margin-top: 4rem;
  display: flex;
  align-items: center;
  justify-content: space-between;

  @include mobile {
    margin-top: 2rem;
    flex-direction: column;
    align-items: flex-start;
    gap: 1.5rem;
  }

  .scheduleMessage {
    color: #374151;
    font-size: 1.125rem;
    line-height: 140%;
    max-width: 600px;
    display: inline-block;
    @include mobile {
      font-size: 1rem;
      line-height: 22px;
      letter-spacing: 0.04em;
      margin-top: 1rem;
    }
  }
  @include mobile {
    button {
      font-size: 0.75rem;
      line-height: 14.52px;
    }
  }
}

.cloudSectionCTA {
  position: absolute;
  bottom: 0.5rem;
  right: 1.5rem;
  a {
    display: flex;
    gap: 0.5rem;
    font-size: 1rem;
  }

  @include mobile {
    position: relative;
    bottom: 0;
    right: 0;
    margin-top: -1rem;
    height: 1.5rem;
  }
}
