@import "@/assets/styles/breakpoints.scss";

.appFooter {
    padding: 1.75rem 4rem !important;
    background-color: transparent !important;

    @include mobile {
        padding: 1.75rem 1.5rem !important;
    }
}
.appFooterContainer {
    max-width: 100%;
    padding: 0px;

    @include max-width(xxl) {
        padding: 0px;
    }
}

.container {
    display: flex;
    gap: 2rem;

    @include max-width(xxl) {
        gap: 2rem;
    }

    @include max-width(xl) {
        flex-direction: column;
        padding-top: 5rem;
        gap: 1rem;
    }

    @include mobile {
        gap: 1rem;
        padding: 0rem;
    }
}

.copyLink {
    font-size: 0.8125rem;
    color: #b8c0cc;
    padding: 0;
    line-height: 1rem;
    letter-spacing: 0.01;
    font-weight: 400;

    @include mobile {
        font-size: 0.875rem;
    }
}

.copyContainer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-weight: 400;
    width: 100%;

    @include mobile {
        flex-direction: column-reverse;
        gap: 1rem;

        margin-top: 0.5rem;
        margin-bottom: 2rem;
        text-align: center;
    }
}
